button {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-self: center;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
}

.header {
  background: #F0F0F0;
  height: 75px;
  align-items: center;
  cursor: pointer;
}

.header-button {
  background-color: none;
  border: none;
}

.header-button:active {
  color: gray;
}

.header-row {
  height: 75px;
}

.header-categories {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-self: center;
}

.logo {
  width: 151px;
  height: 56px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f94855;
  align-self: center;
}

.main-vacancy {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding-top: 1px;
  padding: 1px 33px 20px 33px;
  box-sizing: border-box;
  border-radius: 0 0 15px 15px;
}

.main-vacancy-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

.main-vacancy-subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #F377;
  margin-top: 10px;
}

.main-vacancy-description {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-vacancy-check {
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  justify-content: center;
  margin-bottom: 20px;
}

.main-vacancy-conditions {
  background: rgba(196, 196, 196, 0.8);
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  margin-left: 15px;
}

.main-vacancy-location-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

.main-vacancy-location-subtitle {
  margin-bottom: 20px;
}

.main-vacancy-actions_input {
  margin: 10px;
  width: 100%;
  height: 90px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding: 8px;
  border: none;
  text-align: start;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 16px;
}

.main-vacancy-actions-item {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 16px;
  padding: 8px;
  border: none;
  margin-left: 15px;
  text-align: center;
  font-size: 16px;
}

.main-grey-vacancy {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding-top: 1px;
  padding: 1px 33px 20px 33px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 20px;
}

.main-grey-vacancy input {
  outline: none;
  border: none;
  will-change: none;
}

.main-icon-people {
  background-image: url(../icon/people.svg);
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.main-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
  background: transparent;
  border: none;
}

.main-icon-search {
  background-image: url(../icon/search.svg);
  width: 15px;
  height: 15px;
}

.main-search {
  background: #F0F0F0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  border-radius: 5px;
}

.main-search-text {
  font-weight: 500;
  font-size: 14px;
}

.main-search-hr {
  height: 20px;
  width: 1px;
  border: 0.5px solid #B6A1A1;
}

.main-row-hr {
  height: 1px;
  border: #000000 solid 1px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 12px;
}

.main-row-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

.main-row-subtitle-one {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
}

.main-row-subtitle-two {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  opacity: 0.5;
}

.main-container-icon {
  background-color: #fff;
  -webkit-mask-image: url(../icon/crown.svg);
  mask-image: url(../icon/crown.svg);
  width: 35px;
  height: 35px;
  margin-top: 6px;
}

.sidebar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

.sidebar-checkbox {
  margin-top: 10px;
}

.sidebar-checkbox-text {
  margin-top: 10px;
}

.sidebar-text-item {
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar-citi-input {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.sidebar-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-zp {
  margin-left: auto;
}

.day-vacancy-title {
  font-size: 24px;
  line-height: 55px;
  color: #FFFFFF;
  margin-left: 10px;
}

.day-vacancy-pink {
  background: #F94855;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 13px  13px 0 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flex {
  display: flex;
}

.align-center {
  vertical-align: center;
}

.text-align-center {
  text-align: center;
}

.pink {
  height: 5px;
  width: 10%;
  background: #f94855;
  margin-top: -6px;
  margin-left: 54.5%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.75px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F5F5F5;
}

input[type=range]:focus::-ms-fill-lower {
  background: #f5f5f5;
}

input[type=range]:focus::-ms-fill-upper {
  background: #F5F5F5;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #f5f5f5;
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 2.6px rgba(0, 0, 0, 0.07), 0px 0px 1.8px rgba(13, 13, 13, 0.07);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.75px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #f5f5f5;
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 2.6px rgba(0, 0, 0, 0.07), 0px 0px 1.8px rgba(13, 13, 13, 0.07);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #c2c2c2;
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: #f5f5f5;
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 2.6px rgba(0, 0, 0, 0.07), 0px 0px 1.8px rgba(13, 13, 13, 0.07);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8.5px;
}

.authorization {
  text-align: center;
}

.authorization input {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 15px;
  height: 40px;
}

.authorization-input-submit {
  width: 35%;
}

.authorization-input-left {
  width: 500%;
  margin-right: 10px;
  padding-left: 15px;
}

.authorization-input-right {
  width: 500%;
  margin-left: 10px;
  padding-left: 15px;
}

.authorization-title {
  font-size: 24px;
  line-height: 28px;
}

.authorization-visible {
  display: none;
  position: fixed;
  transition: 1s;
  transform: 1s;
  z-index: 10;
  width: 25%;
  height: 37%;
  justify-content: center;
  left: 37.5%;
  top: 32%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.authorization-visible ::after {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: -10;
  position: fixed;
  opacity: 0.1;
}

.authorization-width {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.visible {
  visibility: visible;
  display: block;
}

.no_visible {
  visibility: visible;
}

.balance {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  align-items: center;
  margin-top: 25px;
  padding: 25px;
  padding-top: 15px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
  width: min-content;
  cursor: pointer;
  background: #e6e6e6;
}

.balance:hover {
  color: #333333;
}

.balance_price {
  background: none;
  margin: 10px;
}

.no_visible {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-device-width: 1280px) {
  .authorization-visible {
    width: 100%;
    background: #000;
    left: 0;
    background: none;
  }
}
